<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459683322029-7nrr8k6i68g83u6qvoed1fr4asjgdlm1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459683322029-7nrr8k6i68g83u6qvoed1fr4asjgdlm1</string>
	<key>API_KEY</key>
	<string>AIzaSyBD6Tyn1AVDeOB2cN4NeKUA3Jo6Xj3VjUk</string>
	<key>GCM_SENDER_ID</key>
	<string>459683322029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movistar</string>
	<key>PROJECT_ID</key>
	<string>chatfri</string>
	<key>STORAGE_BUCKET</key>
	<string>chatfri.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459683322029:ios:330f54d659b5f2d9350e24</string>
</dict>
</plist>